* {
    box-sizing: border-box;
  }

body {
    margin: 0 10%;
    font-family: URW Chancery L, cursive;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

a {
    text-decoration: none;
}

.code {
    background-color: lightgray;
}