* {
    box-sizing: border-box;
  }

html {
   scroll-behavior: smooth; 
}  

body {
    margin: 0 10%;
    font-family: URW Chancery L, cursive;
    font-weight: 600;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

a {
    text-decoration: none;
}

.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

.yellow {
  background-color: #f2c100;
}

.purple {
  background-color: #8b00ff;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;   
  left: 10%;
  right: 10%;   
  z-index: 9999;
  margin: 0;
  padding: 0;   
  width: 80%;   
  height: 50px;
  list-style-type: none;
}

.nav-link {
  display: block;
  width: auto;
  padding: 0 30px;
  line-height: 50px;
  color: #000000;
}
.nav-link:visited {
  color: #000000;
}
.nav-link:hover {
  background-color: #8b00ff;
  color: #ffffff;
  transition: all 0.5s;
  
}

main {
  margin: 100px 0;
  display: flex;
  
}

aside {
  flex: 40%;
}

summary {
  flex: 60%;
}

.avatar {
  width: 300px;
  height: 300px;
}

.code {
  background-color: lightgray;
}